.categories{
    background-color: #EAEDED;
}
.products{
    display: flex;

}
.list{
    list-style-type: none;
    margin-left: 0px;
}
.link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.link:hover{
    color: orange;
}
.subcategoryList:focus{
    background-color: orange;
    outline: none;
    border: none;
}