.footer{
    padding: 10px;
    background-color: #2E2E54;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footerptag{
    font-family: 'Poppins', sans-serif;
}
.appstorelogo{
    width: 250px;
}
.copyright{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}