.upperPart{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: white;
}
.productImages{
    display: flex;
}
.subImage{
    display: flex;
    flex-direction: column;

}

.subImageTag{
    width: 100px;
    margin-bottom: 8px;
    
}
.productImageTag{
    width: 400px;
    height: 350px;
    
}


