.profile{
    border-right: 1px solid black;
    height: 70vh;
}
.profile > ul li{
    list-style: none;
}
.profile > ul li a{
    text-decoration: none;
    font-size: 20px;
}
.profile > ul li a:hover{
    border-bottom: 2px solid rgb(10, 29, 246);
}